@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "Sweater-Decorative";
  src: url("/fonts/Sweater/Sweater-Decorative.woff2") format("woff2"),
      url("/fonts/Sweater/Sweater-Decorative.woff") format("woff");
}

@font-face {
  font-family: "Sweater-Script";
  src: url("/fonts/Sweater/Sweater-Script.woff2") format("woff2"),
      url("/fonts/Sweater/Sweater-Script.woff") format("woff");
}

@font-face {
  font-family: "Sweater-SlabSerif";
  src: url("/fonts/Sweater/Sweater-SlabSerif.woff2") format("woff2"),
      url("/fonts/Sweater/Sweater-SlabSerif.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 bg-primary text-white font-mono;
  }

  p {
    @apply mb-9
  }

  .faq p:last-of-type {
    @apply mb-0
  }

  p a {
    @apply underline hover:no-underline font-bold;
  }

  svg {
    fill: currentColor;
  }
}

@layer components {
  .zigZagBorder {
		@apply bg-borderZigZag bg-center min-h-[40px] w-full bg-repeat-x border-none;
	}

  .snowflake-border {
    @apply bg-snowflakes bg-center bg-repeat-x min-h-[158px] w-full border-none;
  }

  .section-heading {
    @apply font-decorative uppercase text-3xl md:text-4xl lg:text-5xl text-center leading-tight lg:leading-[1.2]
  }

  .tertiary-heading {
    @apply font-slabSerif uppercase text-base;
  }

  .box {
		@apply px-7 pt-6 pb-5 flex flex-col justify-center flex-1;
		background: url('/images/dashed--horizontal.png') left top repeat-x,
			url('/images/dashed--horizontal.png') left bottom repeat-x,
			url('/images/dashed--vertical.png') left top repeat-y,
			url('/images/dashed--vertical.png') right top repeat-y;
	}
}

@layer utilities {
  .layout-grid {
    @apply grid grid-cols-12 gap-x-20
  }
}